<!DOCTYPE kpartgui>
<kpartgui name="kbinpacking" version="0.2">
<MenuBar>
	<Action name="window_menu"/>
	<Menu name="settings">
		<Action name="settings_options"/>
	</Menu>
	<Menu name="GA_menu"><text>&amp;GA</text>
		<Action name="ga_init"/>
		<Separator/>
		<Action name="ga_start"/>
		<Action name="ga_pause"/>
		<Action name="ga_stop"/>
	</Menu>
</MenuBar>
</kpartgui>
